<!DOCTYPE html>
<html>
<head>
	<title>Home - RadiUP!</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>
	<!-- Navbar -->
	<section>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="#">RadiUP</a>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Radios</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Documentation</a>
		      </li>

		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="text" placeholder="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
	</section>

	<div class="container">
		<br>
		<div class="row justify-content-center">	
			<br><br><br>
			<h1>Faça seu login</h1>	
		</div>
	</div>

	<!-- Login Form -->
	<section>
		<div class="container">
			<div class="row justify-content-end align-items-start">
				<div class="col-10">
					<form>
						<div class="form-group row">
							<label for="example-text-input" class="col-sm-2 col-form-label">Usuário</label>
							<div class="col-sm-6">
								<input class="form-control" type="Nome" id="example-text-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-text-input" class="col-sm-2 col-form-label">Senha</label>
							<div class="col-sm-6">
								<input class="form-control" type="password" id="example-text-input">
							</div>
						</div>				
						
					</form>
				</div>
			</div>
			<div class="row justify-content-center">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-0">
					<br><br><br>
					<h5>Não tem uma conta?</h5>
					<div class="row justify-content-center">
						<div class="col-md-0">
							<br>
							<button type="submit" class="btn btn-primary">Inscreva-se!</button>
							<br><br><br><br><br><br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>		

	<!-- Footer -->
	<footer>
		<div class="container">
			<p>RadiUP - 2017</p>
		</div>
	</footer>
</body>