{{ define "index" }}

<div class="body-mark" style="padding-top: 30px; padding-bottom:100px; background-color:#5cb85c">
<div class="container">	
<h2>Gerencie sua rádio, de forma simples e moderna!</h2>
<h5>O RadiUP faz uso da integração entre os serviços de streamer de música mais modernos da atualidade, com o objetivo de fazer com que seus usuários tenham uma melhor experiência ao interagir com a sua rádio.</h5>

<button type="button" class="btn btn-secondary btn-lg">Leia mais</button>
</div>
</div>

<div class="body-feature text-center">
	<h2>Features</h2>
</div>

{{end}}